<div class="center jumbotron">
	<h1>Insurance Policy Management System</h1>
	<h2>
		It's Simple, It's Hastlefree!
	</h2>
	<p>
		Manage your insurence policies. Buy, edit and view all your policies. 
		Forget all the hastle of keeping track of policies and missing premium dates.
		Let us manage your policies better.
	</p>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
