<% @allcompany= Company.all %>
<% if (@allcompany.count!=0)%>
  <h1> Add New Plan </h1>
  <% @user = current_user %>
  <%= render "form" %>
<% else %>
  <h1> No companies available!! Please add a company to continue adding a plan </h1>
<% end %>


