<% @user = current_user %>
<div class="center jumbotron">
  <h3> Welcome to the Admin Panel </h3> <br>
  <h4>There are <%= pluralize(Policy.all.count, "policy") %> <br> You can view and add policies from <strong>Policies</strong> tab </h4><br>
  <h4>There are <%= pluralize(Company.all.count,"company") %> <br> You can view/add/edit/remove them from the <strong>Companies</strong> tab </h4><br>
  <h4>There are <%= pluralize(Policytype.all.count,"plan") %> <br> You can view/add/edit/remove them from the <strong>Plans</strong> tab </h4><br>
  <h4>There are <%= pluralize(User.all.count,"User") %> <br> You can view/edit/remove them from the <strong>Users</strong> tab </h4><br>
</div>